/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Fonts */

@font-face {
  font-family: 'IBMPlexSans-ExtraLight';
  src: url('./../fonts/IBMPlexSans-ExtraLight.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-ExtraLight.ttf') format('truetype'),
    url('./../fonts/IBMPlexSans-ExtraLight.woff') format('woff'),
    url('./../fonts/IBMPlexSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('./../fonts/IBMPlexSans-Regular.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Regular.ttf') format('truetype'),
    url('./../fonts/IBMPlexSans-Regular.woff') format('woff'),
    url('./../fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TenorSans';
  src: url('./../fonts/TenorSans-Regular.eot') format('embedded-opentype'),
    url('../fonts/TenorSans-Regular.ttf') format('truetype'),
    url('./../fonts/TenorSans-Regular.woff') format('woff'),
    url('./../fonts/TenorSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Base style */

* {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "IBMPlexSans-ExtraLight", sans-serif;
  font-size: 16px;
  color: #2F2949;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


/* Header style */
.page__header {
  width: 300px;
  background: url(../image/header-bg.svg), -o-radial-gradient(93% 52.6%, 161.19% 64%, #482C98 0%, rgba(45, 30, 136, 0.00) 100%), #06054A;
  background: url(../image/header-bg.svg), radial-gradient(161.19% 64% at 93% 52.6%, #482C98 0%, rgba(45, 30, 136, 0.00) 100%), #06054A;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  padding: 26px 26px 0 26px;
  width: 100%;
  margin-bottom: 137px;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 21px;
  text-decoration: none;
}

.header__logo a::after {
  content: "beta";
  color: #FFF;
  text-align: center;
  font-family: 'TenorSans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: #656AD9;
  padding: 0 6px;
}

.header__burger {
  display: none;
}

.header__main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  height: 50px;
  padding-left: 30px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 13px 30px 13px 0;
  color: #FFF;
  font-family: 'TenorSans', sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  border-bottom: 1px solid #544893;
}

.header__link::after {
  content: "";
  background: url(../image/nav-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16.5px;
  height: 10px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.header__item--active {
  background: #433E8D;
}

.header__item--active .header__link {
  border: none;
}

.header__item--active .header__link::after {
  opacity: 1;
}

.header__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header__link:hover::after {
  opacity: 1;
}

.header__item--active .header__link:hover {
  text-decoration: none;
}

.footer__text {
  color: #ACADC1;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: 'IBMPlexSans-Regular', sans-serif;
  font-size: 14px;
  line-height: normal;
  padding: 0 30px 26px 30px;
}





/* Main style */

.page__main {
  width: calc(100% - 300px);
}

.products__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 45px 79px 45px;
}

.products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.products__title {
  font-family: 'TenorSans', sans-serif;
  font-size: 50px;
  line-height: 110%;
}

.products__view-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__view-options button {
  width: 40px;
  height: 30px;
  background: #F0F1FA;
  border: 1px solid #D8D9E1;
  border-right: 0;
  padding: 0;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
}

.products__view-options button:nth-last-of-type(1) {
  border-right: 1px solid #D8D9E1;
  background: #52458A;
}

.products__view-options button img {
  -o-object-fit: contain;
     object-fit: contain;
}

.view-option.active {
  border: 1px solid #52458A;
}

.products__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
  gap: 1px;
}

.product__icon {
  margin: 0 auto 16px auto;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 260px;
  width: calc(25% - 1px);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 96px 31px 25px 31px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 333px;
  background: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  position: relative;
}

.products__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  -webkit-transform: translate(-0.5px, -0.5px);
      -ms-transform: translate(-0.5px, -0.5px);
          transform: translate(-0.5px, -0.5px);
  background: #ddd;
  z-index: -2;
}

.product__icon {
  position: relative;
  z-index: 1;
}

.product__content {
  width: 100%;
  position: relative;
  z-index: 1;
}

.product__name {
  width: 100%;
  font-family: 'TenorSans', sans-serif;
  font-size: 20px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}

.product__description {
  color: #777;
  font-family: 'IBMPlexSans-Regular', sans-serif;
  line-height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.product__name::after {
  content: "";
  background: url(../image/product-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 16.5px;
  height: 10px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.products__item:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(82, 69, 138, 0.30);
          box-shadow: 0px 5px 20px 0px rgba(82, 69, 138, 0.30);
  z-index: 2;
}

.products__item:hover::after {
  background: #fff;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  -webkit-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  border: 1px solid #52458A;
}

.products__item:hover .product__name::after {
  opacity: 1;
}

.products__footer {
  max-width: 691px;
}

.products__footer-text {
  font-family: 'IBMPlexSans-Regular';
  line-height: 25px;
}








@media (max-width: 992px) {
  .products__item {
    min-width: calc(50% - 1px);
    padding: 55px 12px 12px 12px;
    height: 233px;
  }

  .product__name {
    font-size: 16px;
    line-height: 25px;
  }

  .product__description {
    font-size: 13px;
  }
}



@media (max-width: 768px) {

  .page__main {
    width: 100%;
  }

  .products__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
  }

  .product__name {
    gap: 8px;
  }

  .products__section {
    padding: 18px 16px 35px 16px;
  }

  .products__title {
    font-size: 30px;
    line-height: 110%;
  }

  .products__header {
    margin-bottom: 17px;
  }

  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page__header {
    width: 100%;
    height: 53px;
    padding: 0 16px;
    background: -o-linear-gradient(137deg, #482C98 0%, #06054A 91%), #06054A;
    background: linear-gradient(313deg, #482C98 0%, #06054A 91%), #06054A;
    background-size: 375px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .header__top {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__top {
    padding: 0;
    margin: 0;
  }

  .header__logo a img {
    width: 100.276px;
    height: 34.506px;
  }

  .header__logo a {
    gap: 13px;
  }

  .header__logo a::after {
    font-size: 13px;
    line-height: 17px;
    padding: 0 5px;
  }

  .header__main {
    position: fixed;
    top: 53px;
    right: -375px;
    padding-top: 94px;
    width: 375px;
    height: calc(660px - 53px);
    background: -o-linear-gradient(181deg, #482C98 0%, #06054A 100%);
    background: linear-gradient(269deg, #482C98 0%, #06054A 100%);
    color: #fff;
    -webkit-transition: right 0.4s ease;
    -o-transition: right 0.4s ease;
    transition: right 0.4s ease;
    z-index: 1000;
  }

  .header__main.open {
    right: 0;
  }

  .header__burger {
    width: 30px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    height: 15px;
    position: relative;
  }

  .footer__text {
    text-align: center;
    padding: 0 30px 26px 30px;
  }



  .burger-icon.open {
    background: transparent;
  }

  .burger-icon {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #fff;
    margin: 6px;
    position: relative;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .burger-icon::before,
  .burger-icon::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .burger-icon::before {
    width: 30px;
    top: -8px;
    right: 0;
  }

  .burger-icon::after {
    width: 26px;
    bottom: -8px;
    right: 0;
  }


  .burger-icon.open::before {
    -webkit-transform: rotate(45deg) translate(11px, 1px);
        -ms-transform: rotate(45deg) translate(11px, 1px);
            transform: rotate(45deg) translate(11px, 1px);
    width: 30px;
  }

  .burger-icon.open::after {
    -webkit-transform: rotate(-45deg) translate(10px, -1px);
        -ms-transform: rotate(-45deg) translate(10px, -1px);
            transform: rotate(-45deg) translate(10px, -1px);
    width: 30px;
  }

  .header__link {
    padding: 13px 24px 13px 0;
  }

}

@media (max-width: 374px) {
  .product__icon {
    width: 35px;
    height: 35px;
  }

  .product__icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .product__name {
    font-size: 13px;
  }

  .header__main {
    width: 100%;
  }

  .page__header {
    background-size: 100%;
  }

  .products__item {
    height: 210px;
  }
}